#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.app-box {
  margin-top: 50px;
  max-width: 500px;
  margin-inline: auto;
}

form {
  /* background-color: red; */
}